@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply bg-bull-black;
    font-family: 'Arial Black', 'Impact', sans-serif;
  }
}

@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 2px #DB0A40;
  }
  
  .text-stroke-white {
    -webkit-text-stroke: 2px white;
  }
}
